<?xml version="1.0" encoding="UTF-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--IsSandBox 1=沙箱开启 0=非沙箱(正式环境)  -->
    <add key="SandBox" value="0" />
    <!--应用 信息-->
    <add key="AppKey" value="21058836" />
    <add key="AppSecret" value="0a0f305163a8bfcba524b5f36a89a662" />
    <!--
    正式
    <add key="AppKey" value="21044009"/>
    <add key="AppSecret" value="d5364ff0e904ee7e7d1a1d34fe7890ea"/>
    沙箱
    <add key="AppKey" value="1021044009"/>    
    <add key="AppSecret" value="sandbox0e904ee7e7d1a1d34fe7890ea"/>
    -->
    <add key="article_code" value="" />
    <add key="item_code" value="" />
  </appSettings>
  <connectionStrings>
    
  </connectionStrings>

  <system.web>
    <compilation debug="true" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true" />
        <defaultDocument>
            <files>
                <add value="Login.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>
